@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body{
    background-image: url(img/bg.png);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    object-fit: contain;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 20px;
    font-family:'Noto Sans JP','Helvetica','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
}
.header{
    width: 100%;
    height: 30px;
    background: #fff;
    z-index: 5;
    padding: 5px 0;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #adc1c2;
}

.headpen{
    display: inline-block;
    background-image: url(img/penf.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;   
}
.headhome{
    display: inline-block;
    background-image: url(img/homee.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;   
}
.headhuman{
    display: inline-block;
    background-image: url(img/humann.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 28px;
    position: absolute;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;   
}
.headbm{
    display: inline-block;
    background-image: url(img/bmf.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 25px;
    position: absolute;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;   
}

.main{
    margin: 55px 0 70px 0;
}

.useridbox{
    display: none;
}
.lsuserIdbox{
    display: none;
}
.sessionUserId{
    display: none;
}
.bmUserId{
    display: none;
}

.hide{
    display: none;
}
/* home.php */
.sdarea{
    justify-content: center;
}

.sdbox{
    display: flex;
    width: 92%;
    align-items: flex-start;
    background: #ffffff;
    border-radius: 5px;
    margin: 20px auto 20px auto;
    text-align: left;
    filter: drop-shadow(0 0 6px #585858);
    user-select: none;
    font-family:'Noto Sans JP','Helvetica','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
}

.iconbox{
    display: inline-block;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 20%;
    /* height: 100%; */
    padding: 5px;
}

.uicon{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: #c7dcdd;
    border: solid 1px #dbdbdb;
    margin-top: 5px;
    top: 0px;
}

.icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    /* background: #c7dcdd; */
    /* border: solid 1px #dbdbdb; */
    margin-top: 5px;
    top: 0px;

}

.sdchild{
    display: inline-block;
    align-items: flex-start;
    width: 90%;
    /* height: 95%; */
    padding: 5px 10px 5px 0;
    top: 0px;
}

.sdinfo{
    display: flex;
    align-items: center;
    top: 0;
    width: 95%;
    justify-content: space-between;
    padding-right: 5px;
}

.uname{
    display: inline-block;
    top: 0px;
    font-size: 15px;
    font-weight: 700;
    color: #404040;
    letter-spacing: 1px;
    padding: 5px;
}

.edit{
    display: inline-block;
    width: 18px;
    height: 16px;
    border: none;
    background-color: #fff;
    background-image: url("img/pencil.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.delete{
    display: inline-block;
    width: 18px;
    height: 16px;
    border: none;
    background-color: #fff;
    background-image: url("img/dust.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
}
.bukuma{
    -webkit-appearance: none;
    display: inline-block;
    width: 15px;
    height: 20px;
    border: none;
    background-color: #fff;
    background-image: url("img/bm.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    margin-right: 5px;
    font-size: 0;
}
.uspot{
    display: flex;
    top: 0px;
    width: 95%;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #404040;
    top: 0;
    line-height: 20px;
    padding: 5px;
}

.ulog{
    display: flex;
    top: 0px;
    width: 95%;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    background: #e8f1f1;
    top: 0;
    padding: 5px;
    white-space: pre-wrap;
}

.ufeel{
    display: flex;
    top: 0;
    width: 95%;
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 22px;
    color: #5e5e5e;
    padding: 5px;
    white-space: pre-wrap;
}
.uid{
    /* display: flex; */
    display: none;
    top: 0;
    width: 95%;
    font-size: 14px;
    line-height: 22px;
    color: #5e5e5e;
    padding: 5px;
    white-space: pre-wrap;
}

.udate1{
    display: flex;
    top: 0;
    width: 95%;
    font-size: 14px;
    line-height: 22px;
    color: #5e5e5e;
    padding: 5px 5px 5px 5px;}

.udate{
    /* display: flex; */
    /* display: none; */
    top: 0;
    width: 95%;
    font-size: 14px;
    line-height: 22px;
    color: #5e5e5e;
    padding: 5px;
}

/* index.php */
.memofield{
    justify-content: center;
    display: block;
    margin: auto;
    height: 80vh;
    position: relative;
}
.memo{
    text-align: center;
    margin: auto;
    padding: 40px 15px;
    /* background: #f1feff; */
    background: #fff;
    width: 92%;
    /* height: 100%; */
    filter: drop-shadow(0 0 4px #585858);
    border-radius: 6px;
    justify-self: center;
    align-self: center;
    position: absolute;          /* 位置指定 */
    top: 50%;                    /* 親要素の半分下にずらす */
    left: 50%;                   /* 親要素の半分右にずらす */
    transform: translateY(-50%) translateX(-50%);

}
.dateBox{
    display: none;
}
.date1Box{
    display: none;
}
.memotitle{
    display: block;
    text-align: left;
    margin: auto;
    color: #404040;
    font-weight: 600;
    font-size: 23px;
}
.input{
    display: inline-block;
    margin: auto;
    width: 100%;
    font-size: 16px;
    filter: drop-shadow(0 0 2px #818181);
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    color: #404040;
    border: none;
    letter-spacing: 1px;
    line-height: 22px;
}
.tabox{
    width: 100%;
    padding: 0;
    filter: drop-shadow(0 0 2px #818181);
}
.log{
    display: inline-block;
    height: 90px;
    margin: auto;
    width: 100%;
    font-size: 16px;
    filter: drop-shadow(0 0 2px #818181);
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    color: #404040;
    border: none;
    letter-spacing: 1px;
    line-height: 22px;
}
.feel{
    display: inline-block;
    height: 90px;
    margin: auto;
    width: 100%;
    font-size: 16px;
    filter: drop-shadow(0 0 2px #818181);
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    color: #404040;
    border: none;
    letter-spacing: 1px;
    line-height: 22px;
}
/* .sbb{
    text-align: center;
} */
.SaveButton{
    -webkit-appearance: none;
    background-color: #F95D00;   
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    filter: drop-shadow(0 0 3px #585858);
    border-radius: 3px;
    border: none;
    padding: 5px 15px 5px 15px;
    margin: 16px auto;
}


/* menu.php */
.tabarea{
    width: 100%;
    height: 38px;
    background: #FFF;
    z-index: 6;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    display: flex;
    text-align: center;
    user-select: none;
    /* padding-top: 10px; */
    border-top: 1px solid #adc1c2;
}
.tab1{
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 27px;    
}
.searchi{
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;    
}
.tab2{
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.mp{
    position: relative;
}
.tab3{
    -webkit-appearance: none;
    display: inline-block;
    opacity: 0;
    border: none;
    border-radius: 0px;
    width: 20px;
    height: 26px;
    font-size: 0;
    z-index: 2;
    position: absolute;
}
.mp img{
    width: 20px;
    height: 26px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bm{
    position: relative;
}
.tab4{
    -webkit-appearance: none;
    display: inline-block;
    opacity: 0;
    border: none;
    border-radius: 0px;
    width: 20px;
    height: 25px;
    font-size: 0;
    z-index: 2;
    position: absolute;
}
.bm img{
    width: 20px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
button{
    padding: 0; /* ボタンにデフォルトでついてるパディングを外す */
}
.account-edit{
    padding: 5px 15px 5px 25px;
}
.account{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}
.submit-btn{
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 0.1px;
}
.s-b-save{
    margin-left: 20px;
}
/* } iPhone */
